version: "3"
services:
  mariadb:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: "root1234"
      MYSQL_DATABASE: "fornecedor"
    ports:
      - "3307:3306"
    volumes:
      - /home/dirceu/dev/docker_volumes/mariadb_local:/var/lib/mysql
    networks:
      - minha-rede
  adminer:
    image: adminer
    ports:
      - 3000:8080
    networks:
      - minha-rede
  config-server:
    build:
      dockerfile: ./config-server/config-server.dockerfile
      context: .
    image: dirceus/config-server
    container_name: config-server
    ports:
      - "8888"
    networks:
      - minha-rede
  eureka-server:
    build:
      dockerfile: ./eureka-server/eureka-server.dockerfile
      context: .
    image: dirceus/eureka-server
    container_name: eureka-server
    ports:
      - "8761"
    networks:
      - minha-rede
  microservice-fornecedor1:
    build:
      dockerfile: ./fornecedor/fornecedor.dockerfile
      context: .
    image: dirceus/fornecedor-microservico
    container_name: fornecedor1
    ports:
      - "8081:8081"
    networks:
      - minha-rede
    restart: on-failure:15
    depends_on:
      - mariadb
      - config-server
  microservice-fornecedor2:
    build:
      dockerfile: ./fornecedor/fornecedor.dockerfile
      context: .
    image: dirceus/fornecedor-microservico
    container_name: fornecedor2
    ports:
      - "8082:8081"
    networks:
      - minha-rede
    restart: on-failure:15
    depends_on:
      - mariadb
      - config-server
  microservice-loja:
    build:
      dockerfile: ./loja/loja.dockerfile
      context: .
    image: dirceus/loja-microservico
    container_name: loja
    ports:
      - "8080:8080"
    networks:
      - minha-rede
    
networks:
  minha-rede:
    driver: bridge


