<div class="row">
    <div class="col-md-6 mb-2">
        <figure class="figure">
            <img class="img-fluid d-none d-sm-block" src="/assets/img/home.png" alt="Bem-vindo"/>
            <figcaption class="figure-caption text-center d-none d-sm-block"> <a target="_blank" href='https://br.freepik.com/fotos-vetores-gratis/negocio'>Imagem criada por fullvector - br.freepik.com</a></figcaption>
        </figure>
    </div>
    <div class="col-md-6 pr-5 pl-5">
        <router-outlet></router-outlet>
    </div>
</div>



